body {
	padding: 0;
	margin: 0;
	user-select: none;
	font: 1.28rem 'Consolas';
}
footer {
	display: flex;
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
	align-items: center;
	#mode {
		width: 4rem;
		height: 2rem;
		background-color: #808080;
		border-radius: 2rem;
		.dot {
			position: absolute;
			width: 1.6rem;
			height: 1.6rem;
			border-radius: 50%;
			background-color: #fff;
			transition: transform 150ms ease-in-out;
			transform: translate(0.2rem, 0.2rem);
			pointer-events: none;
		}
	}
	img {
		height: 4rem;
		filter: drop-shadow(0 0 0.5rem #111);
	}
	& div,
	& img {
		margin-left: 2rem;
		cursor: pointer;
	}
}

.container {
	padding: 3rem 12rem;
}
.input-group {
	display: inline-flex;
	margin: 0.5rem 0;
	width: 100%;
}
.item-box {
	height: 3rem;
	width: 100%;
	padding-left: 10px;
	font-size: 1.28rem;
	color: inherit;
	border: none;
	border-bottom: 3px solid #cacaca;
	outline: none;
	background: none;
	transition: all 300ms ease;
	&:focus {
		border-color: #007bff;
	}
}
.item-btn {
	padding: 1rem 5% 0 5%;
	border-bottom: 3px solid #007bff;
	cursor: pointer;
	transition: all 150ms ease;
	&:hover {
		color: #007bff;
	}
	&:active {
		padding-top: 1.3rem;
	}
}
.list {
	width: 100%;
	margin-top: 5rem;
}
.del-btn {
	border-color: #f00000;
}
.blue {
	color: #007bff;
}
@media only screen and (max-width: 900px) {
	body,
	.item-box {
		font-size: 1rem;
	}
	img {
		height: 3rem;
	}
	.container {
		padding: 5rem 1.5rem;
	}
	footer div,
	footer img {
		margin-left: 1rem;
	}
}
